@use './abstracts/mixins';
@use './abstracts/colors';

body {
    font-family: Ubuntu, sans-serif, serif;
    padding: 2rem;
    @include mixins.flexCenter;
    flex-direction: column;
    background-color: #F9B208;
    background: linear-gradient(to left bottom, map-get(colors.$baseColors, 'mainColor'), map-get(colors.$baseColors, 'secondaryColor'));
    @include mixins.popUp;
}

.link {
    text-decoration: none;
    color: white;
    padding: 5rem;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}